.conteiner{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 100%;
  background-color: transparent;
  overflow-y: scroll;
  max-height: 465px;
}

.conteiner::-webkit-scrollbar {
  background-color: #aaa;
  width: 10px;
}

.conteiner::-webkit-scrollbar-thumb{
  background-color: #000;
  border-radius: 20px;
  padding-right: 5px;
}

.ContComanda:nth-child(even){
  background-color: #ccc;
}

.ContComanda{
  padding: 10px;
  width: 100%;
}

.ContComanda > p {
  border-bottom: #000 1px solid;
}

.comanda{
  display: flex;
  justify-content: space-evenly;
}

.comanda:first-child{
  margin-top: 20px;
}

.comanda > div {
  padding-top: 10px;
  width: 25%; 
}

.pedido p {
  margin-bottom: 10px;
}

.button{
  color: #fff;
  text-align: center;
  width: 80%;
  background-color: rgb(17, 68, 17);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button:hover{
  cursor: pointer;
}