.conteiner{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  overflow-y: scroll;
  max-height: 700px;
}

.conteiner::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.conteiner::-webkit-scrollbar-thumb{
  background-color: #000;
  border-radius: 20px;
  padding-right: 5px;
}

.title {
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
  display:flex;
  justify-content: space-between;
  margin: 10px 0 10px 10px;
}

.ContComanda{
  padding: 15px;
  width: 100%;
}

.ContComanda > p {
  border-bottom: #000 1px solid;
}

.comanda{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5px 0;
}

.comanda:first-child{
  margin-top: 20px;
}

.comanda > div {
  width: calc(25%);
}

.comanda > div:nth-child(5) {
  width: fit-content;
}

.button{
  color: #fff;
  text-align: center;
  width: 25%;
  background-color: rgb(17, 68, 17);
  padding: 5px 10px;
  border-radius: 5px;
}

.button:hover{
  cursor: pointer;
}

.conteinerIncorrect{
  position: relative;
  display: flex;
}

.incorrect {
  position: absolute;
  bottom: -30px;
  left: -70px;
}

.incorrect > div {
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 5px;
}

.incorrect > div:hover {
  background-color: #aaa;
}

@media screen and (min-width: 800px) {
  .conteiner {
    max-height: 465px;
  }
}