.card {
  opacity: 1;
  animation: card 3s;
  font-weight: 600;
  width: 95%;
}

@keyframes card {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nome{
  width: 100%;
  margin: 2px auto;
}

.nome input{
  width: 100%;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #888;
  background-color: #032A0D;
  color: #ffffff;
  font-weight: bold;
}

.nome input:focus{
  outline: 2px solid #888;
}

.tipo {
  border-top: 1px dotted #032A0D;
  margin-top: 5px;
}

.produto {
  margin: 5px -5px 0;
  width: 100%
}

.produto input[type=radio] {
  display: none;
}

.produto label{
  display: flex;
  align-items: center;
}

.produto label > div {
  width: 80%;
  margin-left: 10px;
}

.image {
  border-radius: 20px;
  height: 75px;
  width: 75px;

  --c: #032A0D; /* the border color */
  --b: 8px;    /* the border thickness*/
  --g: -5px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top   var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .2s;
}

.imageOn {
  --_i: 100%;
  transition: .3s, background-size .3s .2s;
}

.svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  rotate: 20deg;
}

.svgOn svg{
  fill: #999999;
}

.svgOff svg{
  fill: #032A0D;
}

.pNome{
  display: flex;
  margin-bottom: 5px;
}

.produto p {
  display: inline;
  margin-left: 5px;
}

.descricao {
  color: hsla(0, 0%, 0%, 0.6);
  font-size: small;
}

.dignome {
  font-weight: bold;
  letter-spacing: 1px;
}

.button {
  margin-top: 10px;
}

@media screen and (min-width: 800px){
  .card{
    width: 95%;
    margin: inherit 20px;
    height: 100%;
  }

  .card form{
    height: 100%
  }

  .card form > div:first-child {
    height: 85%;
  }

  .nome input{
    font-size: 20px;
  }

  .conteiner {
    display: flex;
    justify-content: space-between;
  }

  .conteiner > div {
    width: 100%;
  }

  .image {
    --b: 10px;
    width: 100px;
    height: 100px;
  }

  .tipo {
    border: none;
  }

  .produto{
    margin-top: 50px;
  }

  .produto label {
    margin-top: 10px;
    width: 100%;
  }
  
  .produto label > div{
    margin-left: 10px;
  }

  .produto p {
    font-size: 18px;
  }
  
  .descricao {
    width: 250px;
    font-size: medium;
  }

  .button{
    margin: 20px auto 0;
    width: 30%;
  }
  
  .button button {
    font-size: 20px;
  }
}