.card {
  opacity: 1;
  animation: card 3s;
  font-weight: 600;
  margin-top: 20px;
}

@keyframes card {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nome{
  width: 100%;
  margin: 2px auto;
}

.nome input{
  width: 100%;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #888;
  background-color: #032A0D;
  color: #ffffff;
  font-weight: bold;
}

.nome input:focus{
  outline: 2px solid #888;
}

.tipo {
  border-top: 1px dotted #032A0D;
  margin-top: 5px;
}

.produto {
  margin: 5px 10px 0;
  width: 280px
}

.produto input[type=radio] {
  display: none;
}

.svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  rotate: 20deg;
}

.svgOn svg{
  fill: gray;
}

.svgOff svg{
  fill: #032A0D;
}

.pNome{
  display: flex;
  margin-bottom: 5px;
}

.produto p {
  display: inline;
  margin-left: 5px;
}

.descricao {
  color: hsla(0, 0%, 0%, 0.6);
  font-size: small;
}

.dignome {
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (min-width: 800px){
  .card{
    width: 95%;
    margin: inherit 20px;
    height: 95%;
  }

  .card form{
    height: 100%
  }

  .card form > div:first-child {
    height: 85%;
  }

  .nome input{
    font-size: 20px;
  }

  .conteiner {
    display: flex;
    justify-content: space-between;
    
  }

  .tipo {
    border: none;
  }

  .produto{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .produto img {
    border-radius: 20px;
  }

  .produto label {
    width: 300px;
    margin: 0 10px;
  }

  .descricao {
    width: 250px;
  }

  .button{
    margin: 20px auto 0;
    width: 30%;
  }
  
  .button button {
    font-size: 20px;
  }
}