.conteiner{
  color: #032A0D;
  font-weight: 900;
}

.conteiner h1{
  text-align: center;
}

.image{
  user-select: none;
  -webkit-user-drag: none;
  margin: 0 3px;
  width: 30px;
  height: 30px;
}

.desc{
  color: #000;
  opacity: 0.6;
  font-size: small;
}

.comment{
  width: 90%;
  text-align: start;
}

.comment textarea {
  margin-top: 5px;
  padding: 2px;
  width: 100%;
  min-height: 80px;
  resize: none;
  border-radius: 5px;
}

.comment textarea:focus{
  outline: 1px hsla(0, 0%, 0%, 0.6) solid;
}

@media screen and (min-width: 800px) {
  .questions {
    display: grid;
    grid-template: 100px 100px / 50% 50%;
    text-align: center;
  }
  
  .questions > div {
    margin: 10px 20px;
    width: 400px;
  }

  .comment {
    width: 100%;
  }

  .button {
    width: 30%;
    margin: auto;
  }
  .button button {
    font-size: 20px;
  }
}